extends ../layout

block content
  p
    | Download tools folder 
    a(href="/jamota-tools.zip" download) here
    | .

  h1 Network list

  table(class="networks bigTable")
    thead
      tr
        th(class="seq-number")
        th(class="net-id") ID
        th(class="net-name") Name
        th(class="net-created") Created On
        th(class="net-actions") Actions
    tbody
      -var i = 0;
      each value, key in data
        tr(class='type-' + value.type + ' status-' + value.status)
          td= i++
          td #{key}
          td #{value.name}
          td #{value.createdOn}
          td
            a(href="/networks/" + key + "/ijamreg.sh" download) Register
            input(type="submit", value="Delete Network", class="revoke-network", onclick="deleteNetwork('" + key + "')")
            a(href="/nodes?network-id=" + key) See nodes

  h2 Create a new network
  div
    p
      | Name:
      input(type="text", name="name", id="create-network-name")

    input(type="submit", value="Create network", onclick="createNetwork()")

    p(class="error-msg", id="create-network-error") #{message}

  script(src="/javascripts/api.js")
  script(src="/javascripts/networks.js")
